$contact-backgound-color:#8CD18C;
$contact-border-color:#3c8f69;
$contact-break-point:768;
$mfont: 'Poppins', sans-serif;
body{
    background-color: $contact-backgound-color;
    .page{
      
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-family: $mfont;
            .title{
                text-align: center;
                width: 100%;
              
                .title__p{
                    font-weight: 600;
                    
            
                }
            }
    

            .contact__form{
               
                margin-top: 70px;
                display: flex;
                align-items: center;
                flex-direction: column;
               
                .inputdiv{
                    
                    width: 100%;
                    text-align: left;
                    text-align: center;
                    .contact__form_input{
                        width: 80%;
                        height: 45px;
                        border-radius: 10px;
                        border-style: solid;
                        border-color:$contact-border-color;
                        font-family: $mfont;
                        font-weight: 600;
                        border-width: 2.5px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                    }
                    .contact__form_message{
                        height: 160px ;
                    }
                    .contact__form_button{
                        color: white;
                        height: 60px;
                        background-color: black;
                        font-weight: 600;
                    }
                }
            }

            .secondSection{
                background-color: red;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap:5px;
                .imageContainer{
                    background-color: blue;
                    max-width: 50%;
                    .secondSection_image{
                        border-radius: 50%;
                        max-width: 90%;
                    }
                }
                .secondSection__div{
                    margin: 0px;
                    display: inline-block;
                    background-color: #8CD18C;
                    .accountManagerInto{
                        text-align: center;
                    }
                }

            }
        
    }
}
