$contact-backgound-color:#8CD18C;
$contact-border-color:#3c8f69;
$contact-break-point:768;
$mfont: 'Poppins', sans-serif;
body{
    background-color: $contact-backgound-color;
    .page{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-family: $mfont;
            .title{
                margin: auto;
                text-align: center;
                width: 70%;
                .title_h1{
                    font-size: 160px;
                    font-weight: 600;
                }
                .title__p{
                    font-size: 15px;
                    font-weight: 300;
                }
            }
    

            .contact__form{
               
                margin-top: 70px;
                display: flex;
                align-items: center;
                flex-direction: column;
               
                .inputdiv{
                    
                    width: 100%;
                    text-align: left;
                    text-align: center;
                    .contact__form_input{
                        width: 80%;
                        height: 45px;
                        border-radius: 10px;
                        border-style: solid;
                        border-color:$contact-border-color;
                        font-family: $mfont;
                        font-weight: 300;
                        font-size: 15px;
                        border-width: 2.5px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                    }
                    .contact__form_message{
                        height: 160px ;
                    }
                    .contact__form_button{
                        color: white;
                        height: 60px;
                        background-color: black;
                        font-weight: 600;
                    }
                }
            }
            
            .secondSection{
               
                display: flex;
                align-items: center;
                flex-direction: column;
                gap:0px;
                hr{
                    border: none;
                    width: 99%;
                    height:0.5px;
                    background-color: whitesmoke;
                    .secondhr{
                        background-color: black;
                        width: 80%;
                        height: 5px;
                    }
                   }
                   
  .horizontallie {
    height: 0.5px;
    border: none;
    width: 99%;
    height: 0.5px;
    background-color: whitesmoke;
  }
  .secondsp {
    background-color: black;
    width: 80%;
    height: 0.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
                .imageContainer{
             
                    max-width: 90%;
                    .secondSection_image{
                        border-radius: 50%;
                        max-width: 100%;
                    }
                }
                .secondSection__div{
                    
                    display: inline-block;
                    background-color: #8CD18C;
                    h3{
                        font-size: 35px;
                        font-weight: 400;
                    }
                    .position{
                        color: #618C61;
                    }
                    p{
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    img{
                        display: inline;
                    }
                }

            }

            .thiredSection{
                padding-top: 80px;
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(auto-fit, 1fr);
              
                h3{
                   text-align: center;
                   font-size: 35px;
                   font-weight: 400;
                    width: 50%;
                    margin: auto;
                }
               
                    h6{
                        background-color: RGB(126, 201, 126);
                       border-radius: 20px;
                       font-size: 15px;
                       padding-left: 15px;
                       padding-right:15px;
                       font-weight: 300;
                    }
                
                    .thiredSection__img{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        img{
                            text-align: ceter;
                            width: 20px;
                            height: 20px;
                            margin: auto;
                        }
                    a{
                        text-decoration: none;
                            color: black;
                    }
                    }
                    
            }
        
    }
}
